.overlay-text {
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}

.geosuggest__input {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.geosuggest__suggests-wrapper {
  max-height: 200px;
  overflow-y: auto;
}

.user-profile {
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.user-profile div {
  margin-bottom: 10px;
}

.user-profile label {
  display: block;
  font-weight: bold;
}

.user-profile input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.user-profile button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.user-profile button:hover {
  background-color: #0056b3;
}

/* Custom styles for Leaflet popups */
.leaflet-popup-custom {
  width: 50vw; /* 50% of viewport width */
  max-width: 400px; /* Optional: max width for larger screens */
  text-align: center; /* Center text and image */
}

.leaflet-popup-custom .leaflet-popup-content-wrapper {
  background: white; /* Background color of the popup */
  border-radius: 8px; /* Rounded corners */
  padding: 10px; /* Padding inside the popup */
}

.leaflet-popup-custom .leaflet-popup-content {
  margin: 0; /* Remove default margin */
}
